:root {
  --background-color: #f4f4f4;
  --nav-background-color: #3498db;
  --nav-text-color: #fff;
  --container-background-color: #fff;
  --container-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  --button-background-color: #4caf50;
  --button-hover-background-color: #45a049;
  --progressBar-background-color: #ddd;
  --progressBarInner-background-color: #4caf50;
  --transition-duration: 0.3s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body {
  font-family: sans-serif;
  background-color: var(--background-color);
}

h1, h2, h3 {
  font-weight: bold;
}

nav {
  background-color: var(--nav-background-color);
  color: var(--nav-text-color);
  padding: 10px 20px;
  text-align: center;
}

nav label {
  font-size: 30px;
}

.quizContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  transition: background-color var(--transition-duration);
}

.container {
  width: 100%;
  background-color: var(--container-background-color);
  border-radius: 10px;
  box-shadow: var(--container-box-shadow);
  padding: 20px;
  transition: background-color var(--transition-duration);
}

h1 {
  font-size: 20px;
  text-align: center;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--button-background-color);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color var(--transition-duration);
  margin-right: 10px;
}

.button:hover {
  background-color: var(--button-hover-background-color);
}

#progressBar {
  width: 100%;
  height: 5px;
  background-color: var(--progressBar-background-color);
  border-radius: 5px;
  margin-top: 20px;
}

#progressBarInner {
  width: 0%; /* Adjust based on progress */
  height: 100%;
  background-color: var(--progressBarInner-background-color);
  border-radius: 5px;
}


#quiz-heading{
  margin-bottom: 4vh;
}

@media (max-width: 767px) {
  nav label {
    font-size: 30px;
    font-weight: 560;
}

  nav {
    padding: 25px 0;
  }

  .container {
    margin-top: 7%;
    width: auto;
  }

  .question,
  .options {
    font-size: 16px;
  }

  .button {
    font-size: 14px;
    margin-bottom: 2%;
  }

  .buttonsToHandle {
    display: flex;
    flex-wrap: wrap;
  }
}
